@font-face {
  font-family: "Red Hat Display";
  src: url("./fonts/RedHatDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("./fonts/RedHatDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("./fonts/RedHatDisplay-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* General Styles */

body {
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
  background-color: white;
}

.container {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 90px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

p + p {
  margin-top: 16px;
}

a {
  color: black;
}

img {
  max-width: 100%;
}

/* Header Styles */

.header {
  padding: 35px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav a {
  position: relative;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}

.header__nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background-color: #222222;
  transform: scaleX(0);
  transition: transform 0.25s ease;
}

.header__nav a:hover::after {
  transform: scaleX(1);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header__list {
  display: flex;
  gap: 40px;
}

.logo {
  font-size: 40px;
  font-weight: bolder;
  line-height: 50px;
  font-weight: 700;
  font-style: italic;
  text-decoration: underline;
}

/* Welcome section */

.welcome {
  background-image: url("./images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 108px 0;
  margin-top: -99px;
}

.welcome__hero {
  display: flex;
  gap: 10px;
  align-items: center;
}

.welcome__text {
  width: 613px;
}

.welcome__title {
  color: #000000;
  font-weight: 500;
  line-height: 70px;
  font-size: 56px;
}

.welcome__desk {
  font-weight: 400;
  color: #555555;
  line-height: 32px;
  font-size: 20px;
  margin: 35px 0;
}

.form-and-btn {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 60px;
}

.btn__shop {
  width: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  background-color: #402f2c;
  text-decoration: none;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.search__form {
  position: relative;
  width: 326px;
  height: 48px;
}

.search__holder {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 8px 0 8px;
  box-sizing: border-box;
}

.search-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  bottom: 0;
  width: 32px;
  height: 32px;
  background-color: #402f2c;
  border: none;
}

.welcome__img img {
  width: 724px;
  height: 613px;
}

/* Company Logos Section */

.company__logos {
  padding: 132px 124px;
}

.company__logos hr {
  border: 1px solid #eeeeee;
}

.company__logos--container {
  display: flex;
  flex-wrap: wrap;
  gap: 94px;
  justify-content: center;
  align-items: center;
  margin: 42.5px 0;
}

/* Product Title Section */

.product-title__section {
  margin-top: 20px;
}

.product-title {
  font-weight: 500;
  font-size: 56px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 20px;
}

.product-desc-link {
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.product-desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #555555;
}

.link-p {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #222222;
}

/* Product List Section */

.product__list {
  padding: 80px 0;
}

.product__list .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px 10px;
}

.product-list__card {
  width: 600px;
  height: 835px;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.04);
}

.product-list__img {
  width: 100%;
  height: 484px;
  object-fit: cover;
}

.product-list-text__wrapper {
  padding: 40px 25px;
}

.product-list__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  color: #222222;
  margin-bottom: 16px;
}

.product-list__desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #555555;
  margin-bottom: 48px;
}

.product-list__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-list__footer h4 {
  font-weight: 500;
  font-size: 30px;
  line-height: 32px;
  color: #222222;
}

.product-list__btn {
  display: flex;
  gap: 24px;
  width: 324px;
  height: 56px;
}

.buy-btn {
  width: 137px;
  height: 56px;
  font-weight: 500;
  line-height: 24px;
  font-size: 18px;
  background-color: #402f2c;
  border: none;
  color: white;
}

.add-btn {
  width: 162px;
  height: 56px;
  font-weight: 500;
  line-height: 24px;
  font-size: 18px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.08);
  color: #402f2c;
}

.price__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.product--list__counter {
  display: flex;
  gap: 10px;
}

/* Stats Section */

.stats {
  background-color: #fdf8f5;
  height: 250px;
  margin-top: 100px;
}

.stats .container {
  display: flex;
  flex-wrap: wrap;
  gap: 300px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.stat__card h4 {
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 56px;
  line-height: 70px;
  color: #222222;
  margin-bottom: 30px;
}
.stat__card h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px; /* расстояние от цифр */
  width: 95%;
  height: 3px; /* толщина линии */
  background-color: #222;
}

.stat__card p {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #555555;
}

/* Cosmetic Product Section */

.cosmetic-product {
  height: 600px;
  margin-top: 130px;
}

.cosmetic-product .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  height: 100%;
}

.cosmetic-desc__btn {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-self: center;
}
.cosmetic-desc__btn h2 {
  font-weight: 500;
  font-size: 56px;
  line-height: 70px;
  color: #000000;
}
.cosmetic-desc__btn p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #555555;
  margin-bottom: 20px;
}

.cosmetic-img {
  height: 600px;
}

/* Product Review Section */

.product-review {
  padding: 130px 0;
}
.product-review h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: #222222;
}
.product-review p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #555555;
  margin-bottom: 60px;
}
.product-review .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-review__img {
  max-width: 580px;
  max-height: 550px;
}
.product-review__hero {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.stars {
  margin-bottom: 30px;
}

/* Subscribe Section */
.subscribe {
  padding: 100px 40px;
  background-color: #fafafa;
}

.subscribe .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe h4 {
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  color: #222222;
}

.subscribe form {
  position: relative;
  width: 380px;
  height: 56px;
}

.subscribe button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 102px;
  height: 40px;
  border: none;
  background-color: #402f2c;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
.subscribe input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 120px 0 16px;
  box-sizing: border-box;
}

/* Footer */
.footer {
  background-color: #fafafa;
  margin-top: 80px;
}

.footer hr {
  border: 1px solid #eeeeee;
  margin-top: 20px;
}
.footer-content .container {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}
.footer-content {
  padding: 86px 205px;
}
.footer__logo p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #555555;

  margin-top: 40px;
}
.logo--footer {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  font-style: italic;
  text-decoration: underline;
}

.footer__list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #222222;
}
.footer__inner-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.footer__list-item a {
  position: relative;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}

.footer__list-item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background-color: #222222;
  transform: scaleX(0);
  transition: transform 0.25s ease;
}

.footer__list-item a:hover::after {
  transform: scaleX(1);
}
.footer__socials {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__socials h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #222222;
  margin-bottom: 20px;
}
.footer_socials--icon {
  display: flex;
  gap: 20px;
}

.header__link--active::after {
  transform: scaleX(1);
}
.header__link--active {
  font-weight: 600;
}

/* Shop page */

/* Shop card section */
.shop-form {
  margin-top: 30px;
  margin-bottom: 20px;
}
.shop-form .container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.shop--product__list {
  padding: 40px 0;
}
.shopping-window .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px 10px;
}
.shop--product__list .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px 10px;
}
.shop--product-list__card {
  width: 300px;
  height: 635px;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.04);
  margin-bottom: 20px;
}
.shop--product-list__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.shop--product-list-text__wrapper {
  padding: 30px 20px;
}
.shop--product-list__title {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #222222;
  margin-bottom: 16px;
}
.shop--product-list__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #555555;
  margin-bottom: 24px;
}
.shop--product-list__footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.shop--add-btn {
  width: 100px;
  height: 30px;
  font-weight: 500;
  line-height: 16px;
  font-size: 10px;
  background-color: #3e81d6;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  color: white;
}

/* Payment Method Section */

.shopping-window_section {
  margin-top: 5px;
}
.shopping-window_section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 86%;
  max-height: fit-content;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.04);
}

.shopping-window {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.shopping-window__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 46px;
  color: #222222;
}

.payment-methods {
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-methods .container {
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
  height: 800px;
}

.shopping-window {
  display: flex;
}
.shop--blocks {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shopping-card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.shopping-window-visa {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.shopping-window-visa img {
  width: 40px;
  height: 40px;
}

.shopping-window-mastercard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.shopping-window-mastercard img {
  width: 40px;
  height: 40px;
}

.shop--form-row {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 14px;
}

.shop--form-row label {
  width: 150px;
  font-weight: 600;
}

.shop--inputs {
  display: flex;
  gap: 10px;
}

input,
select {
  padding: 8px 10px;
  border: 1px solid #cfd3dc;
  border-radius: 8px;
  font-size: 14px;
}

.shop-window-summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 20px;
  margin-top: 20px;
}
.shop-window-summary span {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #222222;
}
.shop-window__btn {
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 20px;
  margin-top: 20px;
}
.checkout__btn {
  width: 100px;
  height: 30px;
  font-weight: 500;
  line-height: 16px;
  font-size: 10px;
  background-color: #3e81d6;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  color: white;
}
.empty__card {
  width: 100px;
  height: 30px;
  font-weight: 500;
  line-height: 16px;
  font-size: 10px;
  background-color: #d63e3e;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  color: white;
}
/* Contact US section */

.contactUs__content .container {
  display: flex;
}

.contactUs__desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #555555;
  margin-bottom: 20px;
}

.contactUs__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.contactUS__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  gap: 20px;
}
.contactUS__fullName {
  display: flex;
  flex-direction: column;
}
.contactUS__fullName input {
  width: 600px;
}

.contactUs__email input {
  width: 600px;
}
.contactUS__message textarea {
  resize: none;
  border-radius: 8px;
}

.contactUs__submit {
  width: 150px;
  height: 40px;
  color: white;
  background: #463532;
  border: 1px solid #3a2a27;
  box-shadow: 0px 2px 0 #352522, 2px 4px 6px rgba(0, 0, 0, 0.2);
  font-weight: 900;
  letter-spacing: 1px;
  transition: all 150ms linear;
  cursor: pointer;
}

.contactUs__submit:hover {
  background: #3a2a27;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
  color: #ffffff;
  text-decoration: none;
  text-shadow: -1px -1px 0 #2a1d1b;
  transition: all 250ms linear;
}
